{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <main class="flex mt-16 mb-4 rounded p-4 border flex-col h-full">
        <div class="flex justify-between">
            <h1 class="text-3xl mb-2">Arvores plantadas</h1>
            <a href={% url "plants-create" %} class="bg-primary-500 text-white flex justify-center items-center px-10 hover:bg-primary-600 rounded">Plantar</a>
        </div>
        <div class="border border-top mt-1"></div>
        {% if planted_trees %}
            {% with headers='Nome Usuário Conta Localização' %}
                <div class="flex flex-wrap gap-4 pt-4 px-4">
                    {% include "partials/_table.html" with headers=headers.split rows=planted_trees %}
                </div>
            {% endwith %}
        {% else %}
            <div class="flex h-full justify-center items-center">
                <p>Você não plantou ainda!</p>
            </div>
        {% endif %}
    </main>
{% endblock content %}
